<#@ template  debug="true" hostSpecific="true" #>

<#+

string modelName = @"Facel";
string namespaceName =  @"Facel";
string prefix = @"";

#>

<#+
string[] GetNamespaces(string paramModel)
{
	if (paramModel == "GModel")
		return new String[]  {};
		
	return new String[] {};
}
#>

